.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.form-horizontal .control-label {
    text-align: center;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

html {
    overflow-y:scroll;
}